<html>
<head>
	<title>Log In</title>
</head>
<body>
<%= form(sessions_path) do |f| %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<%= f.submit "Log In" %>
<% end %>
</body>
</html>